@import url('fonts.css');

* {
    box-sizing: border-box;
    
}

p {
    font-size: 14px;
}

html {
    height: 100%
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 36rem;
    height: 27rem;
    background-color: white;
    border-radius: .5rem;
    margin: auto;
    overflow: hidden;
    
}

.image-container {
    flex: 1 0 50%;
}

.product-category {
    font-family: Monserrat;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: hsl(228, 12%, 48%);
}

.product-info-container {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.product-name {
    font-family: Fraunces;
    font-weight: black;
    margin: 0;
    line-height: 90%;
}

.product-description {
    font-family: Monserrat;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 160%;
    margin: 0;
}

.product-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.product-price {
    font-family: Fraunces;
    font-weight: bold;
    font-size: 1.75rem;
    color: hsl(158, 36%, 37%);
}

.product-discount {
    font-family: Monserrat;
    font-size: .7rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    vertical-align: .3rem;
    margin-left: .5rem;
}

.button {
    cursor: pointer;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%);
    padding: .75rem 0;
    color: white;
    border-radius: .5rem;
    font-family: Monserrat;
    font-weight: bold;
    font-size: .75rem;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    img {
        vertical-align: middle;
        font-size: .5rem;
        margin-right: .5rem;
    }
    span {
        vertical-align: middle;
    }
    :active,:hover& {
        background-color: hsl(157, 36%, 20%);
        border-color: hsl(157, 36%, 20%);
        transform: scale(1.02);
    }
}

@media (max-width: 40rem) {
    .container {
        flex-direction: column;
        width: 21rem;
        height: 37rem;
        border-radius: .5rem;
        margin: auto;
        overflow: hidden;
    }

    .image-container {
        flex: 1 2 auto;
        height: 15rem;
    }

    .product-info-container {
        flex: 3 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
    }

}